body{
margin:15px;
padding:0px;
background-image: url(img/45.jpg); 
background-color: #c7b39b;
}
#maket {
width:1000px;
margin:0 auto;
}
#header{

margin:15px;
padding:0px;
}
#left{

background-image: url(img/67.jpg); 
width:670px;
float:left;
}
#footer{
background-color:#989898 ;
}
#content{

background-color:330099;
width:330px;
float:right;
}
.footer {
	text-align: center;
}

h3 {
	color: red;
}
img {
 -webkit-box-shadow:
        inset 0 -1px 0 rgba(0,0,0,.5),
        inset 0 1px 0 rgba(255,255,255,.6);
    -moz-box-shadow:
        inset 0 -1px 0 rgba(0,0,0,.5),
        inset 0 1px 0 rgba(255,255,255,.6);
    box-shadow:
        inset 0 -1px 0 rgba(0,0,0,.5),
        inset 0 1px 0 rgba(255,255,255,.6);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

box-shadow: -19px 0 22px -19px #000, 19px 0 22px -19px #000;

}

ul#my_menu {
list-style-type: none; 
margin: 0; 
padding: 5;
}

ul#my_menu li a{
	color: White; 
	background: url(img/vert_css_menu_0.png) no-repeat 0 0; 
	text-decoration: none; 
	width: 200px;
	height: 43px;
	display: block;
	border: none;
}

ul#my_menu li a:hover{
	background: url(img/vert_css_menu_2.png) no-repeat 0 0;
	width: 200px;
	height: 43px;
	color: White; 
}

ul#my_menu li a span{
	font-size: 18px; 
	padding: 10px 0 0 22px;
	display: block;	
}
.title {
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 30pt;
	text-align: center;
}
.added_by {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
	text-align: center;
}
.data {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
	text-align: justify;
}
.img {
	text-align:center;

}
.data_h {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
	text-align: center;
}